@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(12, 16, 19);
}

header {
  background-color: black;
  color: white;
  display: flex;
  width: 80%;
  max-width: 960px;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  height: 50px;
}

.myserver {
  text-transform: uppercase;
  font: 500 32px arial;
  margin-left: 32px;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

.cnav {
  padding: 16px;
  font-weight: 600;
}
.top {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 16px;
}

.top:hover {
  background-color: yellow;
  color: black;
  text-decoration: underline;
  padding: 16px;
  border-radius: 8px;
}
/*Nav configurado*/
h1{
    color: white;
    padding: 16px;
    margin: 16px;
    width: 50%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 64px;
}

main{
    width: 80%;
    max-width: 960px;
}

.ul-master{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 16px;
}

.li-card{
    background-color: rgb(32, 38, 44);
    color: white;
    padding: 16px;
    border-radius: 16px;
    flex: 1;
    box-shadow: 3px 3px 8px 2px #caf9047d;
    
}

.tv{
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}
span{
    font-size: 16px;
}
h2{
    border-bottom: 1px solid yellow;
}

.ul-vantagens{
    list-style-position: inside;
    margin-bottom: 16px;

}

.ul-vantagens>li{
    padding-bottom: 8px;

}

.ul-vantagens > li::marker{
    color: yellow;
}
.botao{
    background-color: yellow;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
}

.botao>a{
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
}