@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(12, 16, 19);
}

header {
  background-color: black;
  color: white;
  display: flex;
  width: 80%;
  max-width: 800px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.myserver {
  text-transform: uppercase;
  font: 500 30px arial;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.cnav {
  padding: 10px;
  font-weight: 600;
}
.top {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
}

.top:hover {
  background-color: yellow;
  color: black;
  text-decoration: underline;
  padding: 10px;
  border-radius: 5px;
}
/*Nav configurado*/
h1{
    color: white;
    padding: 10px;
    margin: 10px;
    width: 50%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

main{
    width: 80%;
    max-width: 800px;
}

.ul-master{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.li-card{
    background-color: rgb(32, 38, 44);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.tv{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h2{
    border-bottom: 1px solid yellow;
}