@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: rgb(42, 42, 42);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}

.section-header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  height: 50px;
  margin-bottom: 10px;
}

.ul-header {
  list-style-type: none;
  display: flex;
  gap: 5px;
}
.texto-link-header {
  color: rgb(254, 208, 1);
  padding: 8px;
  outline: 1px solid rgb(254, 208, 1);
  text-decoration: none;
}

.texto-link-header:hover {
  background-color: black;
  color: rgb(254, 208, 1);
}

.primeira-parte-section {
  background-image: linear-gradient(
    to bottom,
    rgb(254, 254, 249),
    rgb(255, 254, 142),
    rgb(254, 255, 82)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div-primeira-part-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 50px;
  line-height: 1.5em;
}

.div-botão-primeira-section {
  background-color: rgb(255, 208, 13);
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.texto-botão-primeira-section {
  color: black;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
article {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.section-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-h2 {
  margin-top: 40px;
  font-size: 50px;
  margin-bottom: 40px;
}

.ul-article {
  display: flex;
  list-style-type: none;
  width: 100%;
}

.li-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-right: 3px;
}

.imagem-article {
  width: 300px;
   width: 100%;
}

.div-conteudo-li-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 10px;
  padding: 10px;
}

h3 {
  flex-grow: 1;
}

h3 > p {
  color: grey;
  font-size: 10px;
}

.botão-cursos {
  background-color: rgb(255, 208, 13);
  padding: 10px;
  text-decoration: none;
  color: black;
  width: 200px;
  text-align: center;
  margin-top: 50px;
}

.section-azul-escola {
  background-color: rgb(0, 52, 99);
  display: flex;
  width: 100%;
}

.div-escola {
  color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.h2-escola {
  margin-bottom: 50px;
  font-size: calc(1rem + 1vw);
}

.p-escola{
  line-height: 1.5em;
}

.h2-contatos {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-contatos{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

address {
  text-align: right;
  padding: 10px;
}
footer {
  background-color: rgb(31, 33, 35);
  color: white;
  padding: 20px;
  text-align: center;
}
