@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  min-height: 100%;
}

* {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --BackgroundTopHeader: #162028;
  --Cordotextonomenu: #425564;
  --Cordostextos: #555;
  --Cordefundodoboxcomimagemdedetalhe: #003d52;
  --Cordefundodofooter: #0b171f;
  --Cordetextodofooter: #6f8597;
}

/*************************************************/
/*BODy*/

/*HEADER*/
header {
  background-color: var(--BackgroundTopHeader);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10vh;
}

.p-header {
  font-size: 2.6vh;
}

.sec-header {
  display: flex;
  width: 90%;
}

.sec-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto-do-link {
  color: var(--Cordotextonomenu);
}

.ul-header {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.texto-do-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vh;
}

.moça {
  width: 100%;
  margin-bottom: 10vw;
}

/*MAIN*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meio {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vw;
  gap: 2vw;
  color: var(--Cordostextos);
}

.primeiro-h1 {
  font-family: serif;
  color: var(--Cordotextonomenu);
  font-size: 5vh;
  text-align: center;
}
.primeiro-p {
  text-align: center;
  line-height: 1.5em;
  font-size: 3vh;
}

/*article*/
.ul-master {
  display: flex;
  gap: 2em;
  list-style-type: none;
  margin-bottom: 10vw;
}

.tex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--Cordostextos);
  font-size: 2vh;
}

.img {
  width: 100%;
}

aside {
  background-image: url(imagens/bg_detalhe.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  height: 50vh;
  justify-content: space-between;
}
.moldura1 {
  width: 80%;
  margin-top: 4vw;
  margin-left: 4vw;
}
.zon {
  width: 50%;
  margin-top: 2vw;
}

footer {
  background-color: var(--Cordefundodofooter);
  width: 100%;
  text-align: center;
  color: var(--Cordetextodofooter);
  padding: 1vw;
}
