.div1 {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
}

.div1:hover {
  transform: translate(300px) rotate(360deg);

  transition: 2s;
}

.div0 {
  background-color: lightslategray;
  width: 400px;
  border-radius: 50px;
}
