main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
}

div:hover {

    transform:  translate(100%, 400%) rotate(360deg) scale(2);
    transition: 1s ease-in;
}

details::details-content:hover{
    background-color: red;
    color: white;

    transform: translate(500%, 10%) rotate(360deg) scale(2);
    transition: 1s ease-in;
}